<h1>Hello worlds</h1>

<ul>
  <% result.forEach((person) => { %>
      <h4 class="list-group-item-heading"><%= person._id %></h4>
      <p class="list-group-item-text"><%= person.address %></p>
  <% }) %>
</ul>